<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link disabled">Disabled</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-4">
        <div class="list-group">
          {% for c in categories %}
            <a href="{% url 'category' c.pk %}" class="list-group-item list-group-item-action">{{ c.title  }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-8">
        <h1>{{ category.title }}</h1>
        {% for i in news %}
          <div class="card mb-3">
            {% if i.image %}
              <img src="{{ i.image.url }}" height=100 src="{{ i.image.alt="logo">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ i.title|title }}</h5>
              <p class="card-text">{% lorem 3 p %}</p>
              <p class="card-text"><small class="text-muted">Category: <a href='{% url 'category' i.pk %}'>{{ i.category|title }}</a></small></p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>