{% extends 'base.html' %}


{% block 'list_group' %}
  {% include 'include/_list_group.html' %}
{% endblock %}

{% block 'content' %}
  <h1>Новости со всего света</h1>
  {% for i in news %}
    <div class="card mb-3">
      {% if i.image %}
        <img src="{{ i.image.url }}" height=100 src="{{ i.image.alt="logo">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ i.title|title }}</h5>
        <p class="card-text">{% lorem 3 p %}</p>
        <p class="card-text"><small class="text-muted">Category: <a href="{{ i.category.get_absolute_url}}">{{ i.category|title }}</a></small></p>
      </div>
    </div>
  {% endfor %}
{% endblock %}
